<ng-container *ngIf="mostrar">
  <div class="modal alignVertical" @modal>
    <div class="modal__content">
      <div class="modal__content--header alignVertical">
        <div class="col-6 alignVerticalStart">
          <h2>Detalhes da atração</h2>
        </div>
        <div class="col-6 alignVerticalEnd">
          <img
            (click)="toggle()"
            src="../../../assets/icons/iconClose.svg"
            alt=""
          />
        </div>
      </div>
      <div class="modal__content--body alignVertical">
        <div class="col-7">
          <img src="https://via.placeholder.com/300" alt="" />
        </div>
        <div class="col-5 alignVertical">
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
        </div>

        <div class="col-12 alignVertical">
          <div class="col-7">
            <div class="paragrafo">
              <h2>Carro Alegórico</h2>
              <p>OktoberFest de Blumenau (SC)</p>
            </div>
            <div class="paragrafo">
              <p><b>Tipo:</b> Escultura</p>
            </div>
            <div class="paragrafo">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                leo sodales massa molestie integer nam volutpat. Massa molestie
                mattis habitant morbi enim rhoncus elit. Sit tristique.
              </p>
            </div>
          </div>
          <div class="col-5 alignVertical">
            <div class="line"></div>
            <div class="details alignVertical">
              <h3>Detalhes do projeto</h3>
              <img src="../../../assets/icons/cubo.png" alt="" />

              <div class="details__dimension alignVertical col-12">
                <div class="col-11">
                  <p>Dimensões:</p>
                  <span> 2 m x 3 m x 4m </span>
                </div>
                <div class="col-11">
                  <p>Material:</p>
                  <span>Ferro, plástico, tinta</span>
                </div>
                <div class="col-11">
                  <p>Produção:</p>
                  <span>3 meses</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal__content--footer"></div>
    </div>
    <ng-content></ng-content>
  </div>
  <div (click)="toggle()" @overlay class="overlay"></div>
</ng-container>
