<ng-container *ngIf="mostrar">
  <div class="modal alignVertical" @modal>
    <div class="modal__content">
      <div class="modal__content--header alignVerticalEnd">
        <img
          (click)="toggle()"
          src="../../../assets/icons/iconClose.svg"
          alt=""
        />
      </div>
      <div class="modal__content--body alignVertical">
        <div class="col-6">
          <img src="https://via.placeholder.com/300" alt="" />
        </div>
        <div class="col-6 alignVertical">
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
          <div class="col-6">
            <img src="https://via.placeholder.com/300" alt="" />
          </div>
        </div>
      </div>
      <div class="modal__content--footer"></div>
    </div>
    <ng-content></ng-content>
  </div>
  <div (click)="toggle()" @overlay class="overlay"></div>
</ng-container>
