<ng-container *ngIf="mostrar">
  <div class="modal alignVertical" @modal>
    <div class="modal__content">
      <div class="modal__content--header alignVertical">
        <div class="col-6 alignVerticalStart">
          <h2>Detalhes da atração</h2>
        </div>
        <div class="col-6 alignVerticalEnd">
          <img
            (click)="toggle()"
            src="../../../assets/icons/iconClose.svg"
            alt=""
          />
        </div>
      </div>
      <div *ngIf="!loadBody" class="modal__content--body alignVertical">
        <div class="col-7">
          <img src="{{ data.images[0] }}" alt="" />
        </div>
        <div class="col-5 alignVertical">
          <div class="col-6">
            <img src="{{ data.images[1] }}" alt="" />
          </div>
          <div class="col-6">
            <img src="{{ data.images[2] }}" alt="" />
          </div>
          <div class="col-6">
            <img src="{{ data.images[3] }}" alt="" />
          </div>
          <div class="col-6">
            <img src="{{ data.images[4] }}" alt="" />
          </div>
        </div>

        <div class="col-12 alignVertical">
          <div class="col-7">
            <div class="paragrafo">
              <h2>{{ data.title }}</h2>
              <p>{{ data.subTitle }}</p>
            </div>

            <div class="paragrafo">
              <p><b>Tipo:</b> {{ data.type }}</p>
            </div>
            <div class="paragrafo">
              <p>{{ data.description }}</p>
            </div>
          </div>
          <div class="col-5 alignVertical">
            <div class="line"></div>
            <div class="details alignVertical">
              <h3>Detalhes do projeto</h3>
              <img src="../../../assets/icons/cubo.png" alt="" />

              <div class="details__dimension alignVertical col-12">
                <div class="col-11">
                  <p>Dimensões:</p>
                  <span>
                    {{ data.detailsRequest.width }}m x
                    {{ data.detailsRequest.length }}m x
                    {{ data.detailsRequest.height }}m
                  </span>
                </div>
                <div class="col-11">
                  <p>Material:</p>
                  <span>{{ data.detailsRequest.material }}</span>
                </div>
                <div class="col-11">
                  <p>Produção:</p>
                  <span>{{ data.detailsRequest.productionTime }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="loadBody" class="modal__content--body alignVertical">
        <div class="col-7">
          <ngx-skeleton-loader
            count="1"
            appearance="line"
            animation="progress"
            [theme]="{
              width: '400px',
              height: '300px',
              'border-radius': '8px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
        <div class="col-5 alignVertical">
          <div class="col-6">
            <ngx-skeleton-loader
              count="1"
              appearance="line"
              animation="progress"
              [theme]="{
                width: '140px',
                height: '140px',
                'border-radius': '8px'
              }"
            >
            </ngx-skeleton-loader>
          </div>
          <div class="col-6">
            <ngx-skeleton-loader
              count="1"
              appearance="line"
              animation="progress"
              [theme]="{
                width: '140px',
                height: '140px',
                'border-radius': '8px'
              }"
            >
            </ngx-skeleton-loader>
          </div>
          <div class="col-6">
            <ngx-skeleton-loader
              count="1"
              appearance="line"
              animation="progress"
              [theme]="{
                width: '140px',
                height: '140px',
                'border-radius': '8px'
              }"
            >
            </ngx-skeleton-loader>
          </div>
          <div class="col-6">
            <ngx-skeleton-loader
              count="1"
              appearance="line"
              animation="progress"
              [theme]="{
                width: '140px',
                height: '140px',
                'border-radius': '8px'
              }"
            >
            </ngx-skeleton-loader>
          </div>
        </div>

        <div class="col-12 alignVertical">
          <div class="col-7">
            <div class="paragrafo">
              <ngx-skeleton-loader
                count="1"
                appearance="line"
                animation="progress"
                [theme]="{
                  width: '250px',
                  height: '20px',
                  'border-radius': '8px',
                  display: 'block'
                }"
              >
              </ngx-skeleton-loader>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
                animation="progress"
                [theme]="{
                  width: '140px',
                  height: '15px',
                  'border-radius': '8px',
                  display: 'block'
                }"
              >
              </ngx-skeleton-loader>
            </div>

            <div class="paragrafo">
              <ngx-skeleton-loader
                count="1"
                appearance="line"
                animation="progress"
                [theme]="{
                  width: '140px',
                  height: '15px',
                  'border-radius': '8px',
                  display: 'block'
                }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="paragrafo">
              <ngx-skeleton-loader
                count="1"
                appearance="line"
                animation="progress"
                [theme]="{
                  width: '250px',
                  height: '100px',
                  'border-radius': '8px',
                  display: 'block'
                }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-5 alignVertical">
            <div class="line"></div>
            <div class="details alignVertical">
              <h3>Detalhes do projeto</h3>
              <img src="../../../assets/icons/cubo.png" alt="" />

              <div class="details__dimension alignVertical col-12">
                <div class="col-11">
                  <p>Dimensões:</p>
                  <ngx-skeleton-loader
                    count="1"
                    appearance="line"
                    animation="progress"
                    [theme]="{
                      width: '100px',
                      height: '15px',
                      'border-radius': '8px',
                      display: 'block'
                    }"
                  >
                  </ngx-skeleton-loader>
                </div>
                <div class="col-11">
                  <p>Material:</p>
                  <ngx-skeleton-loader
                    count="1"
                    appearance="line"
                    animation="progress"
                    [theme]="{
                      width: '100px',
                      height: '15px',
                      'border-radius': '8px',
                      display: 'block'
                    }"
                  >
                  </ngx-skeleton-loader>
                </div>
                <div class="col-11">
                  <p>Produção:</p>
                  <ngx-skeleton-loader
                    count="1"
                    appearance="line"
                    animation="progress"
                    [theme]="{
                      width: '100px',
                      height: '15px',
                      'border-radius': '8px',
                      display: 'block'
                    }"
                  >
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__content--footer"></div>
    </div>
    <ng-content></ng-content>
  </div>
  <div (click)="toggle()" @overlay class="overlay"></div>
</ng-container>
