nav{
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000000;
  z-index: 99;

  .nav__content{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;

    img{
      width: 90%;
      max-width: 280px;
    }

    .navMobile {
      display: none;

      button{
        width: 40px;
        height: 40px;
        background: linear-gradient(10.22deg, #DC9713 19.68%, #DB9214 44.96%, #D68518 73.15%, #CF6E1F 103.29%, #CB6223 116.9%);
        border: 0px solid;
        border-radius: 8px;
        font-size: 20px;
        color: #D9D9D9;
      }

      @media (max-width: 1200px) {
        display: block;
      }
    }

    .navDesktop {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        float: left;

        a {
          color: #fff;
          font-weight: 500;
          padding: 10px 40px;
          letter-spacing: 1px;
          transition: 0.3s;

          &:hover{
            color: #DC9713;
          }
        }
      }

      .contato{
        background-color: #DC9713;
        border-radius: 8px;
        padding: 14px 0px;
        margin-left: 10px;
        transition: 0.3s;

        a{
          padding: 10px 28px;
          font-weight: 700;
        }

        &:hover{
          background-color: #fff;
        }
      }

      @media (max-width: 1199px) {
        display: none;
      }
    }

    @media (max-width: 1199px) {
      .col-4{
        width: 50%;
      }

      .col-8{
        width: 50%;
        justify-content: flex-end !important;
      }
    }
  }
}

.menuMobile{
  width: 100%;
  height: 208px;
  position: fixed;
  top: 90px;
  background-color: #000000;
  z-index: 90;
  transition: all 0.3s;

  ul{
    overflow: hidden;
    background-color: #000000;
    position: relative;
    margin: 0px;
    padding: 20px 0px;

    li{
      color: white;
      padding: 10px 0px;
      text-decoration: none;
      font-size: 12px;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

.menuMobileClose{
  top: -117px !important;
}

.banner{
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 90px;
  background-color: #DC9713;
  scroll-margin-top: 200px;

  background-image: url("../assets/banners/bannerHome.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__content{
    width: 90%;
    max-width: 1150px;

    h1{
      color: #EAEAEA;
      font-variant: small-caps;
      margin: 0 auto;

      @media (max-width: 1199px) {
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    h3{
      color: #EAEAEA;
      font-variant: small-caps;
      margin: 0 auto;
      font-weight: 300;

      @media (max-width: 1199px) {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }
    }

    a{
      background: #DC9713;
      border-radius: 15px;
      padding: 10px 30px;
      font-weight: 800;
      font-size: 28px;
      line-height: 44px;
      color: #FFFFFF;
      margin-top: 60px;
      transition: 0.3s;

      &:hover{
        color: #DC9713;
        background-color: #fff;
      }

      @media (max-width: 1199px) {
        padding: 10px 30px;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.about{
  margin-bottom: 200px;
  position: relative;
  scroll-margin-top: 90px;
  background-color: #000000;

  &__left{
    width: 46%;
    height: 450px;
    background: #000000;
    padding-bottom: 50px;

    img{
      width: 85%;
      max-width: 406px;
      margin-right: 13%;

      @media (max-width: 1199px) {
        margin: 0px auto;
        display: block;
      }
    }

    @media (max-width: 480px) {
      height: 200px;
      width: 100%;
      padding: 20px 0px;
    }
  }

  &__right{
    width: 54%;
    min-height: 450px;
    background: linear-gradient(10.22deg, #DC9713 19.68%, #DB9214 44.96%, #D68518 73.15%, #CF6E1F 103.29%, #CB6223 116.9%);
    color: #fff;
    padding-bottom: 50px;

    &--text{
      width: 90%;
      max-width: 590px;

      h3{
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 59px;
        margin: 0px;
        margin-bottom: 40px;

        @media (max-width: 1199px) {
          font-size: 32px;
          line-height: 40px;
        }
      }

      p{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.15em;

        @media (max-width: 1199px) {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
        }
      }
    }

    @media (max-width: 480px) {
      width: 100%;
      min-height: 300px;
    }
  }

  &__bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  @media (max-width: 1199px) {
    margin-bottom: 70px;
  }
}

.specialties{
  position: relative;
  padding-bottom: 400px;
  scroll-margin-top: 100px;

  h2{
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 78px;
    text-transform: uppercase;

    @media (max-width: 1199px) {
      font-size: 34px;
      line-height: 58px;
      text-align: center;
      margin: 0px;
    }
  }

  &__tabs{
    width: 90%;
    max-width: 1396px;
    z-index: 2;

    &--header{
      margin-top: 60px;

      a{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.2;
        transition: all 0.3s;

        @media (max-width: 1199px) {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.05em;
          text-align: center;
        }
      }

      .active{
        opacity: 1;
      }

      @media (max-width: 1199px) {
        margin-top: 20px;
      }
    }

    &--body{
      margin-top: 50px;

      .item{
        margin: 8px;
        box-sizing: border-box;
        cursor: pointer;

        img{
          width: 100%;
          height: 100%;
          max-width: 317px;
          min-height: 337px;
          object-fit: cover;
          border: 8px solid #fff;
          padding-bottom: 0px;

          @media (max-width: 480px) {
            min-height: 200px;
          }
        }
      }

      @media (max-width: 1199px) {
        margin-top: 20px;

        .skeleton-loader {
          width: 150px !important;
          height: 200px !important;
        }

        .col-3 {
          width: calc(50% - 16px);
        }
      }
    }
  }

  &__background{
    position: absolute;
    bottom: 0px;
    z-index: 1;

    &--body{
      width: 100%;
      height: 100%;
      position: relative;

      img{
        width: 100%;

        @media (max-width: 1199px) {
          display: none;
        }
      }

      .txtTitle{
        position: absolute;
        left: 17%;
        bottom: 85px;
        color: #fff;
        margin: 0px;

        font-weight: 500;
        font-size: 40px;
        line-height: 59px;
        text-transform: uppercase;

        @media (max-width: 1199px) {
          position: relative;
          left: 0px;
          bottom: 0px;
          color: #000;
          text-align: center;
        }
      }

      .txtSubTitle{
        position: absolute;
        left: 32%;
        bottom: 16px;
        color: #000;
        margin: 0px;

        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-transform: uppercase;

        @media (max-width: 1199px) {
          position: relative;
          left: 0px;
          bottom: 0px;
          color: #DB9214;
          text-align: center;
        }
      }
    }

    @media (max-width: 1199px) {
      width: 90%;
    }
  }

  @media (max-width: 1199px) {
    padding-bottom: 200px;
  }
}

.whatDo{
  padding: 50px 0px;
  scroll-margin-top: 260px;

  &__body{
    width: 90%;
    max-width: 1380px;
    align-items: flex-start !important;

    &--card{
      width: 100%;
      max-width: 443px;
      padding: 30px 15px;
      margin: 15px;
      box-sizing: border-box;

      background: #FDF5F5;
      box-shadow: -3px 6px 14px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(9px);
      border-radius: 13px;

      img{
        width: 90%;
        height: 100%;
        max-width: 379px;
        max-height: 256px;
        border-radius: 16px;
        object-fit: cover;
      }

      h3{
        font-weight: 600;
        font-size: 24px;
        padding: 0px 5%;
        text-align: center;

        @media (max-width: 480px) {
          font-size: 22px;
        }
      }

      p{
        margin: 0px;
        width: 90%;
        max-width: 379px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding: 0px 5%;

        @media (max-width: 480px) {
          font-size: 18px;
        }
      }
    }

    @media (min-width: 481px) and (max-width: 1199px) {
      .col-4{
        width: 50%;
      }
    }

    @media (max-width: 480px) {
      .col-4{
        width: 100%;
      }
    }
  }
}

.structure{
  background-image: url("../assets/images/Background2.svg");
  width: 100%;
  height: 1220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__body{
    width: 90%;
    max-width: 1400px;

    h2{
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 0.15em;
      margin: 0px;

      b{
        font-weight: 800;
      }

      @media (min-width: 1080px) and (max-width: 1400px) {
        font-size: 44px;
        line-height: 50px;
        letter-spacing: 0.05em;
      }

      @media (max-width: 1080px) {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.05em;
      }
    }

    p{
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.15em;
      margin-bottom: 0px;

      span{
        font-weight: 700;
        color: #fff;
      }

      @media (min-width: 1080px) and (max-width: 1400px) {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
      }

      @media (max-width: 1080px) {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
      }
    }

    .marginTop{
      margin-top: 30px;
    }

    img{
      width: 95%;
      height: 450px;

      object-fit: cover;
      border: 8px solid #fff;
      border-radius: 16px;

      @media (max-width: 1080px) {
        height: 300px;
        width: 90%;
      }

      @media (max-width: 480px) {
        height: 200px;
      }
    }
  }

  @media (max-width: 1080px) {
    .col-7{
      width: 40%;
    }

    .col-5{
      width: 60%;
    }
  }

  @media (max-width: 480px) {
    .col-7{
      width: 100%;
    }

    .col-5{
      width: 100%;
    }
  }
}

.employees{
  padding-bottom: 100px;
  scroll-margin-top: 90px;

  h2{
    font-weight: 600;
    font-size: 58px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.15em;

    b{
      font-weight: 800;
    }

    @media (max-width: 1080px) {
      font-size: 46px;
      line-height: 52px;
      letter-spacing: 0.05em;
    }

    @media (max-width: 480px) {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.05em;
    }
  }

  &__swiper {
    width: 100%;
    min-height: 750px;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 15px 0px;
    }

    .swiper-slide-active {
      img{
        height: 495px !important;

        @media (max-width: 480px) {
          height: 395px !important;
        }
      }
    }

    &--card{
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      .item{
        width: 90%;
        max-width: 411px;

        &__img{
          width: 100%;
          max-width: 379px;

          img{
            width: 100%;
            height: 408px;
            object-fit: cover;
            border-radius: 16px;
            transition: all 0.3s;

            @media (max-width: 480px) {
              height: 308px;
            }
          }
        }

        &__txt{
          h2{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 0px;

            @media (max-width: 480px) {
              font-size: 18px;
              line-height: 26px;
            }
          }

          p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            @media (max-width: 480px) {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }

    @media (max-width: 480px) {
      min-height: 550px;
    }
  }
}

.contact{
  scroll-margin-top: 100px;

  &__title{
    width: 100%;
    height: 355px;
    background: #DC9713;
    align-content: center;

    h2 {
      font-weight: 700;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 0.15em;
      margin: 0px;

      @media (max-width: 1080px) {
        font-size: 38px;
        line-height: 46px;
        text-align: center;
      }
    }

    p{
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      margin: 0px;

      @media (max-width: 1080px) {
        font-size: 26px;
        line-height: 30px;
        text-align: center;
      }
    }

    @media (max-width: 1080px) {
      padding: 40px 5%;
      height: auto;
    }
  }

  &__body{
    padding: 100px 0px;
    max-width: 1300px;

    &--form{
      background: #FFFFFF;
      box-shadow: -4px 4px 33px rgba(0, 0, 0, 0.15);
      border-radius: 32px;
      min-height: 752px;
      padding: 30px 0px;

      p{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin: 0px;

        b{
          font-weight: 600;
        }
      }

      .form{
        padding-top: 32px;

        label{
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 16px;
          display: block;

          @media (max-width: 1080px) {
            font-size: 18px;
            margin-bottom: 10px;
          }
        }

        input, textarea{
          background: #B8B8B8;
          border-radius: 9px;
          border: 0px solid;
          padding: 15px 10px;
          font-size: 20px;
          box-sizing: border-box;
          font-family: 'Montserrat', sans-serif;

          @media (max-width: 1080px) {
            padding: 10px 5px;
            font-size: 16px;
          }
        }

        textarea{
          min-height: 205px;
          font-size: 20px;

          @media (max-width: 1080px) {
            min-height: 105px;
            font-size: 16px;
          }
        }

        .button{
          font-family: 'Montserrat', sans-serif;
          background-color: #DC9713;
          color: #FFFFFF;
          padding: 15px;
          border: 0 solid;
          border-radius: 8px;
          font-weight: 600;
          transition: 0.3s;
          cursor: pointer;

          &:hover{
            background-color: #fff;
            color: #DC9713;
          }
        }
      }

      @media (max-width: 1080px) {
        min-height: auto;
      }
    }

    &--redes{
      h3{
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;

        b{
          font-weight:700;
        }

        @media (max-width: 1080px) {
          font-size: 28px;
          line-height: 32px;
          text-align: center;
        }
      }

      a{
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 44px;
        color: #000000;
        padding: 30px 0px;

        fa-icon{
          font-size: 45px;
          margin-right: 5%;
          width: 80px;
          height: 80px;
          background: #D9D9D9;
          border-radius: 11px;
          color: #D68518;
          transition: 0.5s;
          cursor: pointer;

          &:hover{
            color: #D9D9D9;
            background: #D68518;
          }

          @media (max-width: 1080px) {
            width: 40px;
            height: 40px;
            font-size: 25px;
          }
        }

        @media (max-width: 1080px) {
          font-size: 16px;
          line-height: 20px;
          padding: 15px 0px;
        }
      }

      @media (max-width: 480px) {
        .col-10{
          width: 100%;
        }
      }
    }

    @media (max-width: 1080px) {
      width: 90%;
    }

    @media (max-width: 480px) {
      padding: 50px 0px;
    }
  }

  @media (max-width: 1199px) {
    .col-6{
      width: 90%;
    }
  }
}

footer {
  background-color: #000000;
  height: 100px;

  p {
    font-size: 16px;
    color: #D9D9D9;
  }
}
