<nav class="nav alinItem">
  <div class="container nav__content flex flex-wrap">
    <div class="col-4">
      <img (click)="scroll(home)" src="../assets/images/Logo.png" alt="" />
    </div>
    <div class="col-8 alignVertical">
      <div class="alignVerticalEnd navMobile">
        <button
          id="close-menu"
          class="mobile-only"
          (click)="onCloseOnMobile()"
          aria-label="close menu"
        >
          <img src="../assets/icons/iconClose.svg" alt="" />
        </button>
        <ul role="menubar">
          <li><a (click)="scroll(portfolio)">Portfólio</a></li>
          <li><a (click)="scroll(sobre)">Sobre nós</a></li>
          <li><a (click)="scroll(equipe)">Equipe</a></li>
          <li class="contato"><a (click)="scroll(contato)">Contato</a></li>
        </ul>
      </div>

      <ul class="alignVerticalEnd navDesktop">
        <li><a (click)="scroll(portfolio)">Portfólio</a></li>
        <li><a (click)="scroll(sobre)">Sobre nós</a></li>
        <li><a (click)="scroll(equipe)">Equipe</a></li>
        <li class="contato"><a (click)="scroll(contato)">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>

<div #home class="banner alignVertical">
  <div class="banner__content alignVertical">
    <h1>cenários, exposições e iluminação</h1>
    <h3>
      ATENDEMOS PREFEITURAS, HÓTEIS, SHOPPINGS, CLUBES E EMPRESAS EM TODO O
      BRASIL.
    </h3>
    <div class="col-12 alignVertical">
      <a (click)="scroll(start)" class="alignVertical">CONHECER A CENARIUM</a>
    </div>
  </div>
</div>

<div #start class="about alinItem">
  <div class="about__left alignVerticalEnd">
    <img src="../assets/images/Logo-about.png" alt="" />
  </div>
  <div class="about__right alignVertical">
    <div class="about__right--text">
      <h3>A Cenarium</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim fusce eget
        lacus semper iaculis. Nulla cursus commodo in bibendum lobortis ut.
        Fringilla in purus varius id laoreet dapibus leo enim. Nec egestas
        egestas ornare semper at
      </p>
    </div>
  </div>
  <img class="about__bottom" src="../assets/images/bottom-about.png" alt="" />
</div>

<div #portfolio class="specialties container alignVertical">
  <h2>nossas especialidades</h2>

  <div class="specialties__tabs col-12">
    <div class="specialties__tabs--header alignVertical">
      <div class="col-4 alignVerticalStart">
        <a class="active" (click)="openTab('tab1')">Atrações Culturais</a>
      </div>
      <div class="col-4 alignVertical">
        <a (click)="openTab('tab2')">esculturas</a>
      </div>
      <div class="col-4 alignVerticalEnd">
        <a (click)="openTab('tab3')">iluminação cênica</a>
      </div>
    </div>

    <div
      *ngFor="let specialties of speciality"
      class="specialties__tabs--body alignVerticalStart"
    >
      <div
        *ngFor="let specialtiesImg of specialties.images"
        [ngClass]="'item col-3 alignVertical ' + specialties.id"
      >
        <img
          (click)="modal.toggle()"
          src="https://via.placeholder.com/300"
          alt=""
        />
        <!-- <img
          src="./cenariumbrasil.com.br/backend/{{ specialtiesImg[0] }}"
          alt=""
        /> -->
      </div>
    </div>
  </div>

  <div class="specialties__background">
    <div class="specialties__background--body">
      <h2 class="txtTitle">O que nós já</h2>
      <h3 class="txtSubTitle">fizemos</h3>
      <img src="../assets/images/Background.svg" alt="" />
    </div>
  </div>
</div>

<div #sobre class="whatDo container alignVertical">
  <div class="whatDo__body alignVertical">
    <div *ngFor="let whatDo of whatWeDo" class="col-4 alignVertical">
      <div class="whatDo__body--card alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
        <!-- <img src="/images{{ whatDo.image }}" alt="" /> -->
        <h3>{{ whatDo.name }}</h3>
        <p>
          {{ whatDo.description }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="structure container alignVertical">
  <div class="structure__body alignVertical">
    <div class="col-5 alignVertical">
      <h2>NOSSAS <b>ESTRUTURAS</b></h2>
      <p>
        Estamos localizados <br />em <span>Curitiba</span> e
        <span>Santa Catarina</span>
      </p>
    </div>
    <div class="col-7 alignVerticalEnd">
      <img src="../assets/images/estruture2.png" alt="" />
    </div>
    <div class="marginTop col-7 alignVerticalStart">
      <img src="../assets/images/estruture1.png" alt="" />
    </div>
    <div class="marginTop col-5 alignVerticalEnd">
      <img src="../assets/images/estruture3.png" alt="" />
    </div>
  </div>
</div>

<div #equipe class="employees alignVertical">
  <div class="col-12 alignVertical">
    <h2>Conheça a nossa <br /><b>EQUIPE</b></h2>
  </div>

  <swiper #swiper [config]="swiperConfig" class="employees__swiper">
    <ng-template *ngFor="let employees of team" swiperSlide>
      <div class="employees__swiper--card">
        <div class="item">
          <div class="item__img">
            <img src="https://via.placeholder.com/400x500" alt="" />
            <!-- <img
              src="./cenariumbrasil.com.br/backend/{{ employees.image }}"
              alt=""
            /> -->
          </div>
          <div class="item__txt">
            <h2>{{ employees.name }}</h2>
            <a>{{ employees.description }}</a>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<div #contato class="contact alignVertical">
  <div class="contact__title alignVertical">
    <h2>Vamos criar algo juntos?</h2>
    <p>Entre em contato e conte a sua ideia para a gente.</p>
  </div>

  <div class="contact__body col-12 alignVertical">
    <div class="col-6">
      <div class="contact__body--form alignVertical col-12">
        <div class="col-10">
          <p>Envie uma mensagem</p>
          <p><b>Queremos saber sobre a sua ideia!</b></p>

          <div class="form col-12">
            <label>Nome</label>
            <input class="col-12" type="text" id="fname" name="fname" />
          </div>

          <div class="form col-12">
            <label>E-mail ou Telefone</label>
            <input class="col-12" type="text" id="fname" name="fname" />
          </div>

          <div class="form col-12">
            <label>Qual sua ideia?</label>
            <textarea class="col-12" rows="4" cols="50"></textarea>
          </div>

          <div class="form col-12 alignVerticalEnd">
            <button class="button">Enviar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="contact__body--redes alignVertical col-12">
        <div class="col-10">
          <h3>Mande uma mensagem e siga-nos nas <b>redes sociais</b></h3>
          <div class="alignVerticalStart col-12">
            <span class="alignVerticalStart col-12">
              <fa-icon class="alignVertical" [icon]="faWhatsapp"></fa-icon>
              +55 (41) 9 9135-2345
            </span>
          </div>
          <div class="alignVerticalStart col-12">
            <span class="alignVerticalStart col-12">
              <fa-icon class="alignVertical" [icon]="faInstagram"></fa-icon>
              @Cenariumbrasil
            </span>
          </div>
          <div class="alignVerticalStart col-12">
            <span class="alignVerticalStart col-12">
              <fa-icon class="alignVertical" [icon]="faEnvelope"></fa-icon>
              Contato@cenarium.com.br
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="col-12"></footer>
</div>

<app-modal #modal></app-modal>
