<nav class="nav alinItem">
  <div class="container nav__content flex flex-wrap">
    <div class="col-4">
      <img src="../assets/images/Logo.png" alt="" />
    </div>
    <div class="col-8 alignVertical">
      <ul class="alignVerticalEnd">
        <li><a href="#">Portfólio</a></li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="#">Equipe</a></li>
        <li class="contato"><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner alignVertical">
  <div class="banner__content alignVertical">
    <h1>cenários, exposições e iluminação</h1>
    <h3>
      ATENDEMOS PREFEITURAS, HÓTEIS, SHOPPINGS, CLUBES E EMPRESAS EM TODO O
      BRASIL.
    </h3>
    <div class="col-12 alignVertical">
      <a class="alignVertical">CONHECER A CENARIUM</a>
    </div>
  </div>
</div>

<div class="about alinItem">
  <div class="about__left alignVerticalEnd">
    <img src="../assets/images/Logo-about.png" alt="" />
  </div>
  <div class="about__right alignVertical">
    <div class="about__right--text">
      <h3>A Cenarium</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim fusce eget
        lacus semper iaculis. Nulla cursus commodo in bibendum lobortis ut.
        Fringilla in purus varius id laoreet dapibus leo enim. Nec egestas
        egestas ornare semper at
      </p>
    </div>
  </div>
  <img class="about__bottom" src="../assets/images/bottom-about.png" alt="" />
</div>

<div class="specialties container alignVertical">
  <h2>nossas especialidades</h2>

  <div class="specialties__tabs col-12">
    <div class="specialties__tabs--header alignVertical">
      <div class="col-4 alignVerticalStart">
        <a class="active" (click)="openTab('tab1')">Atrações Culturais</a>
      </div>
      <div class="col-4 alignVertical">
        <a (click)="openTab('tab2')">esculturas</a>
      </div>
      <div class="col-4 alignVerticalEnd">
        <a (click)="openTab('tab3')">iluminação cênica</a>
      </div>
    </div>
    <div *ngIf="true" class="specialties__tabs--body alignVerticalStart">
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
    </div>

    <div *ngIf="false" class="specialties__tabs--body alignVerticalStart">
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
    </div>

    <div *ngIf="false" class="specialties__tabs--body alignVerticalStart">
      <div class="item col-3 alignVertical">
        <img src="https://via.placeholder.com/300" alt="" />
      </div>
    </div>
  </div>

  <div class="specialties__background">
    <div class="specialties__background--body">
      <h2 class="txtTitle">O que nós já</h2>
      <h3 class="txtSubTitle">fizemos</h3>
      <img src="../assets/images/Background.svg" alt="" />
    </div>
  </div>
</div>

<div class="whatDo container alignVertical"></div>
