<nav class="nav alinItem">
  <div class="container nav__content flex flex-wrap">
    <div class="col-4">
      <img src="../assets/images/Logo.png" alt="">
    </div>
    <div class="col-8 alignVertical">
      <ul class="alignVerticalEnd">
        <li><a href="#">Portfólio</a></li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="#">Equipe</a></li>
        <li class="contato" ><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner alignVertical">
  <div class="banner__content alignVertical">
    <h1>cenários, exposições e iluminação</h1>
    <h3>ATENDEMOS PREFEITURAS, HÓTEIS, SHOPPINGS, CLUBES E EMPRESAS EM TODO O BRASIL.</h3>
    <div class="col-12 alignVertical">
      <a class="alignVertical">CONHECER A CENARIUM</a>
    </div>
  </div>
</div>

<div class="banner alignVertical">
</div>
